.container {
    background: linear-gradient(60deg, rgb(38, 237, 38), rgb(49, 49, 162));
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 500px;
    width: 100%;
    box-shadow: 10px 10px 20px 15px rgb(38, 38, 38);
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #ffffff;
}

.title {
    color: rgb(38, 38, 38);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    display: block;
    color: red;
    text-align: center;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}

.inputBox {
    width: 100%;
    height: 50px;
    position: relative;
}

.inputBox:not(:first-child) {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding-left: 40px;
}

.input:hover {
    border: 1px solid  rgb(91, 88, 88);
}

.input:focus {
    border: 1px solid rgb(33, 170, 208);
}

i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(38, 38, 38);
}

.faEye {
    position: absolute;
    left: 420px;
    cursor: pointer;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 30px 0;
    background-color: rgb(35, 46, 161);
    color: #ffffff;
    transition: .2s;
}

.btn:hover {
    background-color: rgb(20, 25, 80);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

p {
    color: rgb(38, 38, 38);
    font-size: 1.2rem;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
}

.link:hover {
    text-decoration: underline;
}

